*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body{
    background-image: url('../images/mountains-universe-2.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#menu{
    margin: 4rem 71.9rem 4rem 7.2rem;

    display: flex; 
}

ul{
    display: flex;
}

ul li a{
    text-decoration: none;
    color: #e1e1e6;
    font-size: 3rem;
    margin-left: 3.8rem;
}

ul li a:hover{
    color: white;
    font-weight: bold;
}

#centered-content{
    display: grid;
    place-items: center;
}

h1{
    color: #e1e1e6;
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 700; 
    margin-top: 17.2rem;
}

button{
    margin-top: 2.4rem;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1.2rem 3.2rem 1.2rem 3.2rem;

    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover{
    background-color: white;
    border: none;
    color: #02799d;
}

#left-content{
    margin-left: 14.2rem;
    width: 64.8rem;
}

p{
    color: #e1e1e6;
    font-size: 1.8rem;
    line-height: 2.9rem;
    margin-top: 1.6rem;
}